# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
PointerAlignment: Left
SpaceBeforeParens: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false
ColumnLimit: 80
AccessModifierOffset: -4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
AlignConsecutiveAssignments: false
AlignTrailingComments: true
